<%= render "shared/errors", obj: @recipe %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= form_for(@recipe, html: { multipart: true }) do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :summary %>
            <%= f.text_field :summary, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, rows: 10, class: "form-control" %>
          </div>
          <strong>Styles:</strong>
          <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
              <%= cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
          <br /><br />
          <strong>Ingredients:</strong>
          <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
              <%= cbi.label(class: "checkbox-inline") {cbi.check_box(class: "checkbox") + cbi.text} %>
          <% end %>
          <br />
          <span class="picture">
            <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
          </span>
          <div class="actions">
            <%= f.submit(@recipe.new_record? ? "Create" : "Edit", class: "btn btn-success") %>
          </div>
      <% end %>
    </div>
  </div>
</div>